table {
  width: 100%;
  vertical-align: middle;
  tr{
  	th{
  		vertical-align: middle;
  		font-size: 12px !important;
			background-color: #ca005d;
			color : #ffffff !important;
			border: #000000 1px solid !important;
			padding: 5px;  		
  	}
  	td{
      vertical-align: middle;
      color : #000000 !important;
			border: #000000 1px solid !important;
			padding: 3px;
			font-size: 12px !important;
  	}
  }
}

.mat-table {
  &.isMobile{
    .mobile-label {
      display: none;
    }   
  }
  .mat-cell{
    a{
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $gris;
      margin-top: 5px;
      margin-left: -4px;
      justify-content: flex-end;
      cursor: pointer;
    }
  }
}

.mobile-label {
  display: none;
}

@media(max-width: 575px) {
  .mat-table {
    &.isMobile{
      .mobile-label {
          display: inline-block;
          font-weight: bold;
          min-width: 100px;
      }
      .mat-cell:first-child{
        padding-left: 0;
      }
      .mat-header-row {
          display: none;
      }
      .mat-row { 
          flex-direction: column;
          align-items: start;
          padding: 8px 10px;
      }
      .mat-footer-row, .mat-row{
        min-height: inherit;
      }
    }
  }
}

.rigth{
  text-align: right;
  padding: 15px
}

.center{
  text-align: center;
  padding: 15px
}

.left{
  text-align: left;
  padding: 15px
}