$bullet: #e6e6e6;
$bullet_active: #cdcdcd;

.tab_slider{
	.mat-tab-header{
		.mat-tab-labels{
			justify-content: center;
			.mat-tab-label{
				height: 30px;
				min-width: 30px;
				padding: 0;
				opacity: 1;
				&.mat-tab-label-active{
					&:before{
						background: $bullet_active
					}
				}
				&:before{
					content: "";
					width: 14px;
					height: 14px;
					border-radius: 50%;
					background: $bullet;
				}
				.mat-tab-label-content{
					display: none;
				}
			}			
		}
		.mat-ink-bar{
			background-color: $magenta_digi;
		}
	}
	.mat-tab-body{
		&.mat-tab-body-active{
			overflow: hidden;
		}
		.mat-tab-body-content{
			padding: 5px 0;
		}
	}
}

.main_tab{
	margin-top: 40px;
	& > .mat-tab-header{
		.mat-tab-labels{
			.mat-tab-label{
				background: $blanco;
				opacity: 1;
				margin-right: 1px;
				&:first-child{
					border-radius: 10px 0 0 0;					
				}
				&:last-child{
					border-radius: 0 10px 0 0;					
				}
				&.mat-tab-label-active{
					background: $magenta_digi;
					color: $blanco;
				}
			}
		}
		.mat-ink-bar{
			background-color: $magenta_digi;
		}
	}
}

// tab popup
.main_popup{
	.tab_slider{
		.mat-tab-header{
			.mat-tab-labels{
				justify-content: center;
				.mat-tab-label{
					height: 30px;
					min-width: 30px;
					padding: 0;
					opacity: 1;
					&.mat-tab-label-active{
						&:before{
							background: $mango_digi;
						}
					}
					&:before{
						content: "";
						width: 14px;
						height: 14px;
						border-radius: 50%;
						background: transparentize($mango_digi, 0.8);
					}
					.mat-tab-label-content{
						display: none;
					}
				}			
			}
			.mat-ink-bar{
				background-color: $mango_digi;
			}
		}
		.mat-tab-body{
			&.mat-tab-body-active{
				overflow: hidden;
			}
			.mat-tab-body-content{
				padding: 5px 0;
			}
		}
	}
}