$magenta: rgba(226, 0, 118, 1);
$vino: rgba(176, 0, 94, 1);
$mostaza: rgba(232, 148, 26, 1);
$mango: rgba(251, 176, 52, 1);
$gris: rgba(94, 106, 113, 1);

$magenta_digi: rgba(202, 0, 93, 1);
$vino_digi: rgba(145, 0, 75, 1);
$mostaza_digi: rgba(212, 118, 0, 1);
$mango_digi: rgba(255, 161, 0, 1);
$gris_digi: rgba(156, 147, 134, 1);

//clores circulos
$verde: rgba(64, 155, 34,1);
$verde_claro: rgba(100, 221, 23,1);
$amarillo: rgba(255, 255, 0,1);
$naranja: rgba(255, 143, 0,1);
$rojo: rgba(191, 54, 12,1);

$fondo: #efefef;
$blanco: #fff;
$negro: #000;
b, strong{
	font-weight: bold;
}

html, body {
	font-size: 16px;
	background: $fondo;
	color: $gris;
	font-family: Verdana, Arial, sans-serif !important;
	line-height: initial;
}
// color de circulos en expansion panel creditos
@mixin circle_color($class, $color){
	.#{$class} {
		color: $color;
		.mat-icon{
			color: $color;
		}
	}
}

@include circle_color('verde', $verde);
@include circle_color('verde_claro', $verde_claro);
@include circle_color('amarillo', $amarillo);
@include circle_color('naranja', $naranja);
@include circle_color('rojo', $rojo);
@include circle_color('griz', $gris_digi);


@mixin bottom_color_legend($class, $color){
	.bottom_#{$class} {
		border-bottom: 6px solid $color!important;
	}
}

@include bottom_color_legend('verde', $verde);
@include bottom_color_legend('verde_claro', $verde_claro);
@include bottom_color_legend('amarillo', $amarillo);
@include bottom_color_legend('naranja', $naranja);
@include bottom_color_legend('rojo', $rojo);


.mat-calendar-body-selected{
	background: $magenta;
}
.mat-datepicker-toggle-active{
	color: $magenta;
}
.space{
	padding: 5px;
}

.negrita{
	font-weight: bold;
}
.mayus{
	text-transform: uppercase;
}
._negro{
	color: $negro;
}
._gris{
	color: $gris;
}
._left{
	text-align: left;
}
._right{
	text-align: right;
	width: 100%;
} 
._small{
	font-size: 12px;
	line-height: 10px;
}
.botom_magenta{
	border-bottom: 2px solid $magenta_digi;
}
._pointer{
	cursor: pointer;
}
.mb20{
	margin-bottom: 20px!important;
}

.mat-dialog-container{
	padding: 0!important;
}

@mixin formulario_color_inputs($color) {
	.mat-input-element{
	caret-color: $color;
	}
	.mat-form-field-flex{
		border-bottom: 2px solid $color;
	}
	.mat-form-field-appearance-legacy .mat-form-field-underline{
		background: transparent;
	}
	.mat-checkbox-frame{
		border-color: $color;
	}
	.mat-form-field-appearance-legacy .mat-form-field-label{
		color: $color;
	}
	.material-icons, input.mat-input-element{
		color: $color;
	}
}

@mixin espacio_padding($espacio) {
	padding: $espacio + px;
}
@mixin espacio_margin($espacio) {
	margin: $espacio + px;
}

// circulos balls
@mixin ball_corona($color, $size, $border) {
	height: $size + px;
	width: $size + px;
	background: $color;
	border: #{$border + px} solid $color;
	border-radius: 50%;
	box-shadow: inset 0 0 0 #{$border + px} $blanco;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $blanco;
}
@mixin ball_normal ($color, $size){
	height: $size + px;
	width: $size + px;
	background: $color;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $blanco;
	margin: 0 auto;
}
@mixin bg_color($color, $bg) {
	background: $bg;
	color: $color!important;
}

@mixin  ball_corona_cre($color, $size, $border){
	height: $size + px;
	width: $size + px;
	background: $color;
	border: #{$border + px} solid $color;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $blanco;
}
