<div class="formulario">
    <form class="material-form" [formGroup]="loginForm"  (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-icon matSuffix>person</mat-icon>
            <input name="usernameElement" matInput placeholder="Usuario" id="usernameElement" #usernameElement formControlName="username">
            <mat-error *ngIf="loginForm.get('username').hasError('required')">
                El usuario es <strong>requerido</strong>
            </mat-error>

        </mat-form-field>

        <mat-form-field>
            <mat-icon matSuffix>lock</mat-icon>
            <input name="password" matInput placeholder="Contraseña" formControlName="password"  [type]="'password'" >
            <mat-error *ngIf="loginForm.get('password').hasError('required')">
                La contraseña es <strong>requerida</strong>
            </mat-error>

        </mat-form-field>
        <div class="send">
            <button mat-raised-button color="btnCompartamosSecond" [disabled]="!loginForm.get('username').valid && !loginForm.get('password').valid">Ingresar</button>
        </div>
    </form>
</div>